.card {
  position: relative;
  width: 323px;
  display: flex;
  justify-content: center;
  font-family: "CabinetGrotesk-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
}

.card__image {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  width: 100%;
}
