.page {
  background-color: #f3f3f3;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.page__content {
  margin: 0 auto;
  flex: 1;
  width: 100%;
  max-width: 1360px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  flex-direction: column;
}

.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  flex-direction: column;
}
