.header__section-registration {
  display: flex;
  position: relative;
  left: -650px;
}

.register {
  display: flex;
  flex-direction: column;
  padding: 36px;
  justify-content: center;
  width: 35%;
  background-color: #f3f3f3;
}

.register__welcome {
  margin-top: 32px;
}

/*.register__error {
  color: #02ff00;
}*/

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 12px;
}

.register__form input {
  margin-top: 8px;
  padding: 4px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.register__form label {
  display: flex;
  flex-direction: column;
  margin: 12px 0 14px;
}

.register__submit_btn {
  margin: 32px 0 0;
  width: 124px;
  height: 36px;
  background-color: #000000;
  color: #fff;
  border-radius: 8px;
}

.register__signin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
