.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 28px;
  font-family: "CabinetGrotesk-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  color: rgba(33, 33, 33);
}

.header__section1 {
  display: flex;
  gap: 24px;
}

.header__section2 {
  display: flex;
  gap: 20px;
}

.header__date-and-location {
  margin: 0;
  display: flex;
  align-items: center;
}

.header__add-clothes-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}

.header__user-container {
  display: flex;
}

.header__username {
  max-width: 157px;
  display: flex;
  align-items: center;
  margin: 0 12px 0 0;
}
