.clothes-section {
  flex-grow: 1;
}

.clothes-section__row {
  display: flex;
  gap: 20px;
}

.clothes-section__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
}

.clothes-section__btn {
  border: none;
  padding: 0;
  color: hsla(0, 0%, 0%, 0.6);
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  cursor: pointer;
}

.clothes-section__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0;
  grid-gap: 20px;
}
